@model Proiect_TI.Models.EmployeeViewModel
<h2>Adaugare angajati</h2>
<p>Pentru adaugarea unui angajat este necesara completarea tuturor casetelor. Daca exista o poza de profil, aceasta se poate incarca.</p>
<div class="container-fluid" style=" border: solid 1px #dde0de; border-radius: 10px; padding: 30px;">
    <div class="row align-center">
        <div class="col-md-6">

            @if (ViewBag.Success == true)
            {
                <div class="alert alert-success text-center">
                    Adaugarea s-a realizat cu succes!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (ViewBag.Success == false)
            {
                <div class="alert alert-danger text-center">
                    Adaugarea nu s-a realizat!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @using (Html.BeginForm("AddEmployees", "Database", FormMethod.Post, htmlAttributes: new { style = "display:flex; flex-direction:column; align-items:center", enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Nume, new { @class = "form-control", placeholder = "Ex: Popescu" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Prenume, new { @class = "form-control", placeholder = "Ex: Andrei" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Functie, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Functie, new { @class = "form-control", placeholder = "Ex: Programator" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SalarBaza, "Salar de baza", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.SalarBaza, new { @class = "form-control", placeholder = "Ex: 3000" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Spor, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Spor, new { @class = "form-control", placeholder = "0" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PremiiBrute, "Premii brute", htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.PremiiBrute, new { @class = "form-control", placeholder = "0" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Retineri, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Retineri, new { @class = "form-control", placeholder = "0" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Poza, htmlAttributes: new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Poza, new { type = "file" })
                </div>

                <div class="form-group" style="justify-content:center">
                    <input type="submit" value="Adauga" class="btn btn-primary" />
                </div>
            }
        </div>
        <div class="col-md-6 text-center">
            <img class="vector-images" alt="Add emplyee image" src="~/Images/add_emplyee.jpg" />
        </div>
    </div>
</div>

