@model Proiect_TI.Models.EmployeeViewModel

<h2>Gestionare angajati</h2>
<span style="display:flex;">
    <b class="glyphicon glyphicon-info-sign" style="font-size: 20px; margin-right: 10px; color: #337ab7;"></b>
    <p>Tabelul de mai jos reprezinta angajatii firmei. Datele acestora pot fi modificare de pe butonul de editare si pot fi stersi de pe butonul stergere.</p>
</span>
<span style="display:flex;">
    <b class="glyphicon glyphicon-info-sign" style="font-size: 20px; margin-right: 10px; color: #337ab7;"></b>
    <p>Documentele precum statul de plata si fluturasii pentru toti angajatii pot fi printate de pe butonul 'Tiparire documente'. Fluturasii individuali pot fi printati din tabel.</p>
</span>
@if (ViewBag.Success == true)
{
    <div class="alert alert-success text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Actualizarea s-a realizat cu succes!

    </div>
}
@if (ViewBag.Success == false)
{
    <div class="alert alert-danger text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Actualizarea nu s-a realizat!
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            @ViewBag.ErrorMessage
            <br>
        }

    </div>
}
<div class="container-fluid" style="border: solid 1px #dde0de; border-radius: 10px; padding: 30px; padding-bottom: 150px; margin-bottom: 100px ">
    <div class="row align-center">
        <div class="col-md-12">
            <div class="container" style="max-width:100%; height:500px;">

                <div class="container-fluid" style="display:flex; flex-direction:column; border: solid 1px #dde0de; border-radius: 10px; background-color:#f9f9f9; padding: 10px;">
                    
                    <div style="display:flex; margin:5px;">
                        <div class="dropdown">
                            <button href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tiparire documente <b class="caret"></b></button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Stat de plata</li>
                                <li>
                                    <a href="@Url.Action("StatDePlataViewer")"><b class="glyphicon glyphicon-print"></b> Tiparire</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("StatDePlataPDF")"><b class="glyphicon glyphicon-save-file"></b> Descarcare PDF</a>
                                </li>
                                <li class="dropdown-header">Fluturasi toti angajatii</li>
                                <li>
                                    <a href="@Url.Action("FluturasiViewer")"><b class="glyphicon glyphicon-print"></b> Tiparire</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("FluturasiPDF")"><b class="glyphicon glyphicon-save-file"></b> Descarcare PDF</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="display: flex; margin: 5px;">
                        <select id="filter-field" class="form-control" style="margin-right:5px">
                            <option value="Nume">Nume</option>
                            <option value="Prenume">Prenume</option>
                            <option value="Functie">Functie</option>
                        </select>
                        <input type="text" id="search-input" style="margin-right:5px" class="form-control" placeholder="Cautare angajat">
                        <button id="filter-clear" class="btn btn-primary">Clear</button>
                    </div>

                </div>

                <div id="employee-table"></div>

                <div class="modal fade" id="employee-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title text-center" id="exampleModalLongTitle">Date angajat</h3>
                            </div>

                            <div class="modal-body">

                                @using (Html.BeginForm("UpdateData", "Database", FormMethod.Post, new { id = "employee-form", enctype = "multipart/form-data" }))
                                {

                                    <div class="container-fluid">

                                        <div class="row" style="border: solid 1px #dde0de; padding: 10px; border-radius: 10px; margin: 10px" ;>
                                            <h4>Date personale</h4>
                                            <div class="col-md-12">
                                                <div style="display:flex; flex-direction:column; justify-content:center; align-items:center; margin-bottom:10px;">
                                                    <img id="employee-image" src="" style="width:150px; height:150px; object-fit:cover; border-radius:50%" alt="Employee image" />
                                                    @Html.TextBoxFor(model => model.Poza, new { type = "file" })
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Nr. Crt</label>
                                                        @Html.TextBoxFor(model => model.Id, new { id = "employee-modal-id", @class = "form-control", @Readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Nume</label>
                                                        @Html.TextBoxFor(model => model.Nume, new { id = "employee-modal-nume", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Prenume</label>
                                                        @Html.TextBoxFor(model => model.Prenume, new { id = "employee-modal-prenume", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Functie</label>
                                                        @Html.TextBoxFor(model => model.Functie, new { id = "employee-modal-functie", @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="border: solid 1px #dde0de; padding: 10px; border-radius: 10px; margin: 10px" ;>
                                            <h4>Date salariu</h4>
                                            <div class="col-md-12">

                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Salar de baza</label>
                                                        @Html.TextBoxFor(model => model.SalarBaza, new { id = "employee-modal-salar", @class = "form-control", type = "number" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Spor</label>
                                                        @Html.TextBoxFor(model => model.Spor, new { id = "employee-modal-spor", @class = "form-control", type = "number", step = "0.01" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Premii brute</label>
                                                        @Html.TextBoxFor(model => model.PremiiBrute, new { id = "employee-modal-premii-brute", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Total brut</label>
                                                        @Html.TextBoxFor(model => model.TotalBrut, new { id = "employee-modal-total-brut", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Brut impozabil</label>
                                                        @Html.TextBoxFor(model => model.BrutImpozabil, new { id = "employee-modal-brut-impozabil", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Impozit</label>
                                                        @Html.TextBoxFor(model => model.Impozit, new { id = "employee-modal-impozit", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>CAS</label>
                                                        @Html.TextBoxFor(model => model.Cas, new { id = "employee-modal-cas", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>CASS</label>
                                                        @Html.TextBoxFor(model => model.Cass, new { id = "employee-modal-cass", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Retineri</label>
                                                        @Html.TextBoxFor(model => model.Retineri, new { id = "employee-modal-retineri", @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label>Virat card</label>
                                                        @Html.TextBoxFor(model => model.ViratCard, new { id = "employee-modal-virat-card", @class = "form-control" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchidere</button>
                                        <button type="submit" class="btn btn-primary" id="save-btn">Salvare</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>